<!-- Sign In Start -->

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                {{!-- <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="/" class="">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Manager</h3>
                    </a>
                    <h3>Sign In</h3>
                </div> --}}
                {{!-- <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <a href="">Forgot Password</a>
                </div>
                <form action="/auth/login" method="post">
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                </form>
                <p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p> --}}
                {{#if login}}
                <div>
                    <h1>Sign in</h1>
                    <form action="/auth/login" method="post">
                        <div class="form-floating mb-3">
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" autocomplete="email" required autofocus
                                class="form-control">
                            <label for="current-password">Password</label>
                            <input id="current-password" name="password" type="password" autocomplete="current-password"
                                required class="form-control">
                            <button type="submit" class="btn btn-primary py-3 w-100" style="margin: 20px 0;">Sign
                                In</button>
                        </div>
                    </form>
                </div>
                <p class="text-center mb-0">Doesn't have an account? <a href="/auth/register">Sign Up</a></p>
                {{else}}
                <div>
                    <h1>Sign Up</h1>
                    <form onsubmit="sendRegister(); return false;" novalidate>
                        <div class="form-floating mb-3">
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" autocomplete="email" required autofocus
                                class="form-control">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password" autocomplete="password" required
                                class="form-control">
                            <label for="password_confirmation">Password Confirmation</label>
                            <input id="password_confirmation" name="password_confirmation" type="password"
                                autocomplete="password_confirmation" required class="form-control">
                            <button type="submit" class="btn btn-primary py-3 w-100" style="margin: 20px 0;">Sign
                                Up</button>
                        </div>
                    </form>
                </div>
                <p class="text-center mb-0">Already have an account? <a href="/auth/login">Sign In</a></p>
                <script>
                    document.getElementById('email').oninput = function () {
                        document.getElementById('email').setCustomValidity('');
                    }

                    document.getElementById('password').oninput = function () {
                        document.getElementById('password').setCustomValidity('');
                    }

                    document.getElementById('password_confirmation').oninput = function () {
                        document.getElementById('password_confirmation').setCustomValidity('');
                    }

                    function sendRegister() {
                        console.log('send register')

                        var email = document.getElementById('email').value;
                        var password = document.getElementById('password').value;

                        if (document.getElementById('email').value == '') {
                            document.getElementById('email').setCustomValidity('Email is required.');
                        }

                        if (document.getElementById('password').value == '') {
                            document.getElementById('password').setCustomValidity('Password is required.');
                        }

                        if (document.getElementById('password_confirmation').value == '') {
                            document.getElementById('password_confirmation').setCustomValidity(
                                'Password confirmation is required.');
                        }

                        if (document.getElementById('email').reportValidity() && document.getElementById('password').reportValidity() && document.getElementById('password_confirmation').reportValidity()) {
                            if (document.getElementById('password').value != document.getElementById(
                                'password_confirmation').value) {
                                document.getElementById('password_confirmation').setCustomValidity(
                                    'Password confirmation must match password.');
                                document.getElementById('password_confirmation').reportValidity();
                                return;
                            } else if (RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])").test(document.getElementById('password').value) == false) {
                                document.getElementById('password').setCustomValidity(
                                    'Password must contain at least one lowercase letter, one uppercase letter, one number and one special character.');
                                document.getElementById('password').reportValidity();
                                return;
                            } else {
                                console.log('ok');
                            }
                        } else {
                            return;
                        }

                        var data = {
                            email: email,
                            password: password
                        };

                        $.ajax({
                            type: "POST",
                            url: "/auth/register",
                            data: data,
                            success: function (data) {
                                console.log(data);
                                window.location.href = '/user/profile';
                            },
                            error: function (data) {
                                console.log(data);
                                document.getElementById('email').setCustomValidity(data.responseJSON.error);
                                document.getElementById('email').reportValidity();
                            }
                        });
                    }
                </script>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<!-- Sign In End -->