<div class="container">
    <div class="row" style="height: 100vh; margin: 100px;">
        <div class="col-md-12">
            <h1>Profile</h1>
            <p>{{{debug}}}</p>
        </div>
    </div>
</div>